.row
  .col-md-4
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h3 Get Some Lunch
      .panel-body#message
        %form.input-group
          %input.form-control#distance(type="number" placeholder="Max Walking Time in Minutes" autofocus="autofocus"  min="5" max="100" defaultValue="15")
          %span.input-group-btn
            %button.btn.btn-default#submit(type="button")Food!
  .col-md-4
.row
%script(src="/js/index.js")
