- if message
  .row
    .col-md-4
    .col-md-4
      .alert.alert-warning(role="alert")
        %p#center
          %strong= message
    .col-md-4

.row
  .col-md-4
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h3 Get Some Lunch
      .panel-body#message
        %form.input-group
          %input.form-control#distance(type="number" placeholder="Max Distance in Meters" autofocus="autofocus"  min="20" max="5000" defaultValue="150")
          %span.input-group-btn
            %button.btn.btn-default#submit(type="button")Food!
  .col-md-4
.row
%script(src="/js/index.js")
