.row
  .col-md-4
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h3 Find your lunch!
      .panel-body#message
        You can and must click button for...
        .btn.btn-default#floatright Food!
  .col-md-4
%script(src="/js/index.js")