!!! 5
%html
  %head
    %title Random Lunch Finder
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
    %link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
    %link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    %link(rel="stylesheet" href="css/styles.css")
    %link(rel="icon" type="image/x-icon" href="/favicon.ico")
    %script(src="http://code.jquery.com/jquery.js")
  %body
    .container
      .row
        %nav.navbar.navbar-default{:role => "navigation"}
          .container-fluid
            .navbar-header
              %a.navbar-brand{:href => "/"} Random LunchFinder
      =yield
    %script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")